url=http://yourdomain.tld/small/static/file
url2=http://domain.should.always.be.up.tld/small/static/file
to="
person1email@yourdomain.tld
person2email@yourdomain.tld
"

smtp_user=user_for_smtp_server
smtp_from=from_address
smtp_passwd=passwd_for_smtp_server
smtp_server=smtp_server_name_or_ip

#Time to wait before sending another down email
#in sec
#Default: 600 (10 min)
#ttw=600

#Max timeout for curl to wait for your file
#in sec
#Default: 15
#max_timeout=15
